:root {
  color:rgb(15, 15, 18);
  background-color: #F9F9F9;

    /* background colors */
    --color-bg1: #F9F9F9;
    --color-bg2: #1c2d41; 

    /* font colors */
    --font-b1: rgb(15, 15, 18);
    --font-b2: rgb(242, 242, 213);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;  
}

body{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}