:root {
  color:rgb(15, 15, 18);
  background-color: #e6e5db;

    /* background colors */
    --color-bg1: #F9F9F9;
    --color-bg2: #142C46; 

    /* font colors */
    --font-b1: rgb(15, 15, 18);
    --font-b2: rgb(242, 242, 213);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  
}

body{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}